<%= render partial: 'toolbar/home' %>
 
<% if @articles.any? %> 
 <%= render partial: 'sidebar/show' %>
 <div id="article_feed">
 <h1>My Article Feed </h1>
<% @articles.each do |article| %>
  <tr>
    <td>
    	<%= link_to image_tag(current_user.logo.url('small'),
        :alt => current_user.name), current_user %>
      </td>
     
 
 	 
 	<td><%= article.subject %><br></td>
 	<tr><td>           <td>
    <td><%= link_to 'See Details...  ', article %></td>
    <td><%= link_to 'Update    ', edit_article_path(article) %></td>
    <td><%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr></tr>  <br>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
<% else %>
<h1> Sorry, you don't have any article </h1>
<h1><%= link_to 'Create Article', new_article_path %></h1>
<%end%>
 
 