 
<%= div_for @article do %>
<div class="avatar pull-left">
    <div class="media-object">
      <%= link_to image_tag(current_user.logo.url('original'),
        :alt => current_user.name), current_user %>
    </div>
  </div>
  <header class="media-heading">
    <%= current_user.name %>
<div class="subject">
    <% if @article.subject %>
      <h6>
        <%= @article.subject %>
      </h6> 
      
    <% end %>
    <div class="article_type">
      <%= @article.article_type %>
    </div>  
    <div class="body">
      <%= @article.body %>
 <% end %>
 
 <p >Comments: </p>
 </div>
    <div class="comment" >
    <%=  render  :partial  =>  'activities/comments',  :locals  =>  {  :activity  => @article.post_activity  }  %>
    </div>
